:root {
  --default-bg-color: #222428;
  --white: #ffffff;
  --default-orange: rgb(254, 161, 47);
  --default-pink: #ff014f;
  --body-color: #878e99;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--default-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  border: 0.04rem solid var(--white);
}

ul {
  list-style: none;
}

ul > li {
  margin-bottom: 0.5rem;
}
